<div class="d-flex justify-content-center align-items-center">
  <div class="col-10 col-md-6 d-flex flex-column">

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="mb-0">Create your new recipe</h1>
      <%= link_to "â†©ï¸ back to recipes", recipes_path, class: 'btn btn-outline-secondary btn-sm' %>
    </div>

    <div class="card bg-white rounded-4 p-5" id="recipe-wizard">
      <%= render partial: "recipes/form_steps/step_1_name", locals: { recipe: @recipe } %>
    </div>

  </div>
</div>
