<h1>Pages#home</h1>


<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "add a recipe manually", new_recipe_path, class: "btn btn-plain" %>
<%= link_to "add a recipe from img", new_via_img_recipes_path, class: "btn btn-outline" %>
<%= link_to "add a recipe from url", new_via_url_recipes_path, class: "btn btn-primary" %>
<!-- Bottom navbar -->
<%= render "shared/bottom_navbar" %>
