<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "add a recipe manually", new_recipe_path, class: "btn btn-primary" %>
<%= link_to "add a recipe from img", new_via_img_recipes_path, class: "btn btn-primary" %>
<%= link_to "add a recipe from url", new_via_url_recipes_path, class: "btn btn-primary" %>
