.btn-plain{
  background-color: $green-primary;
  height: 45px;
  width: 249px;
  color: #FFFF;
  border-radius: 12px;
  padding-top: 0.5rem;
}

.btn-outline{
  background-color: #FFFF;
  height: 45px;
  width: 249px;
  color: $green-primary;
  border-radius: 12px;
  border: 1px solid $green-primary;
  padding-top: 0.5rem;
}

.btn-outline-red{
  background-color: #FFFF;
  height: 45px;
  width: 249px;
  color: #b00100;
  border-radius: 12px;
  border: 1px solid #b00100;
  padding-top: 0.5rem;
}
