.btn-plain{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: $green-primary;
  height: 45px;
  width: 249px;
  color: #FFFF;
  font-weight: 600;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 0;

    .btn-icon {
    width: 18px;
    height: 18px;
  }
}

.btn-plain:disabled,
.btn-plain[disabled] {
  background-color: #C6C6C6;
}

.btn-outline{
  background-color: transparent;
  height: 45px;
  width: 249px;
  color: $green-primary;
  border-radius: 12px;
  border: 1px solid $green-primary;
  padding-top: 0.5rem;
}

.btn-outline-red{
  background-color: #FFFF;
  height: 45px;
  width: 249px;
  color: #b00100;
  border-radius: 12px;
  border: 1px solid #b00100;
  padding-top: 0.5rem;
}

.btn-create {
  border-radius: 24px ;
  background-color: white;
  display: inline-block;
  width: auto;
  color: $green-text;
  padding: 8px 12px;
}

.icon-button i {
  font-size: 16px;
  background-color: white;
  border-radius: 100%;
  width: 32;
  height: 32;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#manual-create {
  position: fixed;
  right: 50px;
  bottom: 210px;
}

#url-create {
  position: fixed;
  right: 105px;
  bottom: 149px;
}
#img-create {
  position: fixed;
  bottom: 85px;
  right: 180px;
}

.fixed-bottom-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  bottom: 39px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  align-items: center; // ✅ aligne verticalement
}

.btn-small-square{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: $green-primary;
  height: 45px;
  width: 45px;
  color: #FFFF;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 0;
}

button.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit; /* keeps icon color */
  font-size: inherit;
}

button.icon-button:focus {
  outline: none; /* optional: remove focus ring, or customize */
}
  
.btn-ok {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 16px;
  background-color: rgba(240, 240, 240, 0.9);
  color: $green-primary;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(230, 230, 230, 1);
    cursor: pointer;
  }

  &:active {
    background-color: rgba(200, 200, 200, 1);
  }

  p {
    margin: 0;
  }
}
