.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  height: 62px;
  padding-top: 2px;
  z-index: 10;

  .nav-link {
    text-align: center;
    color: #6b6b6b;
    font-size: 0.8rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .nav-icon {
      margin-bottom: 3px;
      font-size: 24px;
      color: $green-bg-icon;
    }
    .active-icon {
      margin-bottom: 3px;
      font-size: 24px;
      color: $green-primary;
    }

    .nav-label {
      line-height: 1;
      color: $green-bg-icon;
    }
      .active-label {
      line-height: 1;
      color: $green-primary;
    }
  }
}
