.rounded-white {
  background-color: white;
  border-radius: 50%;
  padding: 10px 11px;
  font-size: 15px;
  color: $green-primary;
}

.dots {
}
.dot-button {
  all: unset;
}

#plus {
  font-size: 30px;
  position: fixed;
  bottom: 85px;
  right: 35px;
  transition: transform 0.3s ease;
  z-index: 100;
  font-weight: lighter;
}

.rounded-white-big {
  background-color: white;
  border-radius: 50%;
  padding: 8px 10px;
  font-size: 15px;
  color: $green-primary;
}
