.collections-index {
  background-color: #CBD8C5;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 1rem;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}


  .logo {
    height: 3rem;
    width: auto;
    transform: scale(2);
    display: block;
    margin-bottom: 1rem;
    padding-left: 0.8rem;
  }



.collection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #438866;
    margin: 0;
    flex-grow: 1;
    text-align:left;
  }

  .collection-header-actions {
    display: flex;
    gap: 0.5rem;

    .icon-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;

    }

    .add-button {
      font-weight: bold;
    }
  }
}

.collections-grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 161px);
  gap: 1rem;
  justify-content: center;

  .collection-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 161px;
    width: 155px;
    text-decoration: none;
    color: white;
    font-weight: bold;

    &:hover {
      transform: scale(1.03);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    }

    .text-overlay-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
    }

    .card-overlay {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0; /* inutile ici mais peut être conservé selon le style */
    }

    .card-recipe-count {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 0.7rem;
    height: 0.7rem;
    font-weight: lighter;
    }



    &.favorites {
      background-color: #448364;
      display: flex;
      align-items: center;
      justify-content: center;

      .card-content {
        text-align: center;

        p {
          font-size: 1.2rem;
          margin: 0;
        }

        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}
