  .logo {
    height: 3rem;
    width: auto;
    transform: scale(2);
    display: block;
    margin-bottom: 1rem;
    padding-left: 0.8rem;
  }

.recipes-container {
  width: 366px;
  margin: 0 auto;
}
